@charset "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
	border: 0;
}

nav {
	display: flex;
	justify-content: center;
}

#logo {
	width: 20%;
	height: 35px;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 15px;
	text-align: center;	
	background-color: #e60012;
}

ul.menu {
	width: 100%;
	list-style-type: none;
	
	padding: 0;
	margin: 0 auto;
}

ul.menu > li {
	width: 20%;
	line-height: 75px;
	float: left;
	border-right: 1px solid #d9d9d9;
	background-color: white;
	position: relative;
	text-align: center;
	font-size: 18px;
	box-sizing: border-box;
}

ul.menu > li:hover {
	color:#e60012;
}

ul.menu > li > ul > li:hover {
	
	color:#e60012;
}


ul.menu > li > ul {
	position: absolute;
	display: none;
	border: 1px solid #d9d9d9;
	list-style-type: none;
	width: 100%;
	padding: 30px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #f7f7f7;
}

ul.menu > li > ul > li {
	padding: 10px 0;
	width: 100%;
	box-sizing: border-box;
}

ul.menu > li > ul > li > a {
	font-size: 15px;
	letter-spacing: -1px;
	text-align: left;
	line-height: 150%;
	display: block;
}

ul.menu > li:hover > ul {
	display:block;
	color: #111;
}

.btn_shop {
	width: 150px;
	height: 75px;
	background-color: #fe7c0a;
	border-right: 1px solid #d9d9d9;
	font-size: 0;
	margin: auto 0;
	text-align: center;
}

.btn_search{
	width: 100px;
	margin: auto 0;
	text-align: center;
	font-size: 0;
}

.clearfix {
	clear:both;
	
	/* 컨텐츠 영역 없애기 */
	width: 0;
	height: 0;
	
	/* 내용물이 컨텐츠영역을 넘었을 때 안보이도록 설정하기 */
	overflow: hidden;
}

article > div {
	background-color: #e60012;
	text-align: center;
}

#switch {
	float:left;
}

#switch_oled {
	float:left;
}

#switch_lite {
	float:left;
}

#article2 {
	background-color: #e60012;
	text-align: center;
}

.wbtn {
	width: 500px;
	height: 80px;
	background-color: #e60012;
	color: #fff;
	font-size: 15pt;
	font-weight: bold;
	border:1px solid #fff;
	margin: 10px;
}

.line {
	margin-top: 50px;
	background-color: #fff;
	height: 3px;
}

#article3 > div {
	height: 100px;
	float: left;
}

footer {
	padding: 30px;
	background-color: #f5f5f5;
	
	font-size: 14px;
	line-height: 24px;
	color: #737373;
}